<p>maestro-card works!</p>

@if(composer) {
    <div class="card">
        <div class="card-header">
            {{composer.name}}
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{composerBio}}</p>
                <footer class="blockquote-footer">{{composer.birthDate}}</footer>
            </blockquote>
        </div>
    </div>

}

@else {
    <p>Click on a composer to see their details</p>
}
