


.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-header {
    font-size: 1.5em;
    font-weight: bold;
}

.card-body {
    font-size: 1.2em;
}



blockquote {
    border-left: 5px solid #eee;
    margin: 0;
    padding: 0 10px;
}

blockquote p {
    font-size: 1.2em;
}

blockquote footer {
    font-size: 1.1em;
    font-style: italic;
}