<p>maestro-list works!</p>

<div class="row">
    @for(composer of composers; track composer) {
        <div class="col-md-4" (click)="clicked(composer)">
            {{composer}}
        </div>
    }
  </div>
