<section >
    <h2>Maestro Container</h2>
    <p>Maestro Container works!</p>

    <div class="maestro-container row">

        <div class="maestro-list col-md-2">
            
            <app-maestro-list (onComposer)="onMaestroSelected($event)" [composers]="composers">
            </app-maestro-list>
        </div>
        
        
        <div class="maestro-card col-md-8">
            @if (selectedComposer) {
                <app-maestro-card [composer]="selectedComposer" [composerBio]="selectedComposerBio"></app-maestro-card>
            }
            @else {
                <p>Click on a composer to see their details</p>
            }
        </div>
    </div>

</section>