.row {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .col-md-2 {
        flex: 0 0 16.67%;
        max-width: 16.67%;
    }

    .col-md-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    .col-md-8 {
        flex: 0 0 66.67%;
        max-width: 66.67%;
    }

    .col-md-10 {
        flex: 0 0 83.33%;
        max-width: 83.33%;
    }
}